//Variables
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/mixins';

// Setup
@import 'setup/setup';

// Components
@import 'components/navbar/navbar';
@import 'components/footer/footer';

// Pages
@import 'pages/home';
@import 'pages/couple';
@import 'pages/details';
@import 'pages/rsvp';
@import 'pages/contact';
@import 'pages/admin';
