<section class="playground">
  <div class="playground-content">
    <div class="wrapper">
      <h1>The Playground</h1>

      {{bar-graph}}

      {{test-component}}

      {{test-component}}

      <br />
      <br />
      <br />

      {{practice-calculator}}


    </div>
  </div>
</section>
