.accommodations {
  // height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.06),rgba(0,0,0,.06)), url(../images/image4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding: 10em 0;

  .accommodations-content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $black;
    border: 10px double $black;
    padding: 4em 5em;
    background-color: transparentize($white,0.08);

    h1 {
      // display: table;
      font-size: 3.7em;
      margin: 0 auto .8em;
      position: relative;
    }
  }

  .hotels-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;



    div:nth-child(2) {
      margin: 0 1.2em;

      img {
        position: relative;
        bottom: .7em;
      }
    }

    .hotel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        transition: all .09s linear;

        &:hover {
          -webkit-filter: drop-shadow(16px 16px 10px $accent);
          filter: drop-shadow(0px 0px 2px transparentize($accent,0.3));
        }
      }

      .hotel-directions {
        font-size: .88em;
        margin-top: .8em;
        color: $black;
        text-decoration: underline;
        transition: .09s linear;

        &:hover {
          color: $accent;
        }
      }
    }

    @media (max-width: 1000px) {
      justify-content: space-between;
    }

    @media (max-width: 873px) {
      justify-content: center;

      div:nth-child(2) {
        margin: 0 1.2em;
      }

      div:nth-child(3) {
        margin: 2em 0 0;
      }

    }
  }

  .accommodations-image {
    width: 80%;
    margin: 4em auto 0;

    img {
      width: 100%;
    }
  }
}
