.admin {
  padding: 7em 2em;

  .admin-content {
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    .admin-sign-in {
      width: 12%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      form{
        display: flex;
        justify-content: center;
        flex-direction: column;

        input:first-child, input:nth-child(2) {
          margin-bottom: .5em;
          padding: .3em .4em;
          outline: 1px solid transparent;
          transition: outline .16s linear;

          &:focus {
            outline: 1px solid $accent;
          }
        }

        input[type="submit"] {
          font-size: .9em;
          margin: .3em auto;
          color: $white;
          padding: .45em 1.2em;
          border: 1px solid transparent;
          background-color: $accent;
          outline: 1px solid transparent;
          transition: background-color .16s linear;

          &:hover {
            background-color: lighten($accent, 3%);
          }
        }
      }

      .try-again {
        margin-top: 1em;
        text-align: center;
        color: $accent;
      }
    }
  }

  table {
    width: 100%;

    tr:first-child {
      font-size: .96em;
      border-bottom: 1px solid $black;
    }

    .tableRows {
      border-bottom: 1px solid $black;

      td {
        font-size: .81em;
        text-align: center;
        padding: 1em 1em;
        border-right: 1px solid $black;
        border-left: 1px solid $black;

        &:nth-child(7) {
          text-align: center;
        }

        &:last-child {
          width: 30%;
          text-align: left;
        }
      }
    }
  }
}
