.contact {
  // height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.06),rgba(0,0,0,.06)), url(../images/image4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding: 10em 0;
}

.contact-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $black;
  border: 10px double $black;
  padding: 4em 5em;
  background-color: transparentize($white,0.08);

  h1 {
    font-size: 3.7em;
    text-align: center;
    margin-bottom: .7em;
  }

  .description-contact {
    font-size: 1.3rem;
    text-align: center;
  }


  .contact-info {
    display: flex;
    justify-content: space-around;;
    align-items: center;
    margin-top: 4em;

    .contact-cell {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 1.35em;
        margin-bottom: .7em;
      }

      .phone {
        margin-bottom: .5em;
      }

      i {
        color: $black;
        background-color: #222;
      	-webkit-background-clip: text;
      	-moz-background-clip: text;
      	background-clip: text;
      	color: transparent;
      	text-shadow: rgba(255,255,255,0.45) 0px 3px 3px;
      }
    }
  }

  .contact-image {
    width: 77%;
    margin: 5em auto 0;

    img {
      width: 100%;
      border: 10px double $black;
      -webkit-filter: contrast(1.05);
      filter: contrast(1.05);
      transition: all 1s;
    }
  }
}
