.couple {
  background-image: linear-gradient(rgba(0,0,0,.06),rgba(0,0,0,.06)), url(../images/image4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding: 10em 0;
}

.couple-content {
  display: flex;
  padding: 4em 5em;
  border: 10px double $black;
  background-color: transparentize($white,0.08);
  color: $black;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3.7em;
    margin-bottom: .7em;
    text-align: center;
  }
}

.about-couple {
  margin: .8em auto 0;
  width: 85%;

  p {
    float: left;
    line-height: 1.8;
  }
}

.gallery-wrapper {
  margin-top: 5em;

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .thumbnail-wrapper {
      width: 67px;
      margin-right: .7em;

      img {
        width: 100%;
        border: 2px solid $lightgrey;
        -webkit-filter: brightness(.6);
        filter: brightness(.6);
        transition: all .3s;

        &:hover {
          border: 2px solid $accent;
          -webkit-filter: brightness(1);
          filter: brightness(1);
        }
      }
    }
  }

  .gallery-preview {
    display: flex;
    margin-top: .54em;
    justify-content: center;

    .preview-wrapper {
      width: 80%;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.questionnaire-wrapper {
  display: flex;
  margin-top: 5em;

  h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .ali-on-bryan, .bryan-on-ali {
    font-size: .94em;

    .question {
      display: block;
      font-weight: 700;
    }

    .answer {
      display: block;
      margin-top: .2em;
      margin-bottom: 1.3em;
      font-style: italic;
    }
  }

  .ali-on-bryan {
    width: 50%;
    line-height: 1.6;
    margin-right: 3.5em;
  }

  .bryan-on-ali {
    width: 50%;
    line-height: 1.6;
    margin-left: 3.5em;
  }
}

// media queries //
@media (max-width: 800px) {
  .couple-content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 570px) {
  .gallery-wrapper {

    .thumbnails {
      .thumbnail-wrapper {
        width: 50px;
        margin-right: .5em;

        img {
          width: 100%;
          border: 2px solid $lightgrey;
          -webkit-filter: brightness(.6);
          filter: brightness(.6);
          transition: all .3s;

          &:hover {
            border: 2px solid $accent;
            -webkit-filter: brightness(1);
            filter: brightness(1);
          }
        }
      }
    }
  }

  .questionnaire-wrapper {
    flex-direction: column;
    justify-content: center;

    h4 {
      text-align: center;
    }

    .ali-on-bryan, .bryan-on-ali {
      width: 100%;
      line-height: 1.6;
      margin: 0;
    }

    .bryan-on-ali {
      margin-top: 4.2em;
    }
  }
}

@media (max-width: 500px) {
  .couple-content {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (max-width: 450px) {
  .couple-content {
    h1 {
      font-size: 9.7vw;
    }
  }
}
