.details {
  // height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.02),rgba(0,0,0,.02)), url(../images/hand-hold.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10em 0;

  .details-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $black;
    border: 10px double $black;
    padding: 4em 5em;
    background-color: transparentize($white,0.08);
    position: relative;



    h1 {
      // display: table;
      font-size: 3.7em;
      margin: 0 auto 1.4em;
      position: relative;
    }

    .bracebridge-weather {
      position: absolute;
      left: .3em;
      top: .3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span:first-child {
        font-size: .8em;
        display: block;
        // margin-bottom: -.6em;
      }

      .temp-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        span:first-child {
          font-size: .8em;
          margin-right: .3em;
        }

        img {
          width: 1.6em;
          position: relative;
          top: .2em;
        }
      }
    }

    .wedding-countdown-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 4em;

      countdown-wrapper {
        border: 10px double $black;
        padding: 1.7em 2.9em;

        h2 {
          margin-bottom: .2em;
        }
      }

      h2 {
        text-align: center;
      }
    }
  }

  .info-wrapper {
    display: flex;
    margin-bottom: 2em;

    .info-left, .info-right {
      width: 50%;

      h4 {
        font-size: 1.6em;
        margin-bottom: .3em;
      }

      p {
        font-size: 1.13em;
        font-weight: 300;
        line-height: 1.4;
      }
    }

    .info-left {
      padding-right: 3.8em;

      .dress-code {
        margin-top: 1.6em;
      }

      .nearby {
        margin: 2.1em 0 1.2em;
      }

      .hotels-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hotel-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 2.8em;

          img {
            transition: all .09s linear;

            &:hover {
              -webkit-filter: drop-shadow(16px 16px 10px $accent);
              filter: drop-shadow(0px 0px 2px transparentize($accent,0.3));
            }
          }

          .hotel-directions {
            font-size: .88em;
            margin-top: .8em;
            color: $black;
            text-decoration: underline;
            transition: .09s linear;

            &:hover {
              color: $accent;
            }
          }
        }
      }
    }

    .info-right {
      padding-left: 3.8em;

      a {
        font-size: .97em;
        text-align: center;
        width: 100%;
        display: inline-block;
        color: $black;
        padding: .1em 0;
        position: relative;
        top: 1em;

        &:hover .car {
          position: relative;
          right: 1.5em;
        }

        &:hover .driving {
          color: $accent;
        }

        .car {
          font-size: 1.3em;
          position: relative;
          top: .11em;
          right: 1em;
          transition: all .4s;
        }

        .driving {
          text-decoration: underline;
          transition: color .09s linear;
        }
      }

      .map-wrapper {
        margin-top: 3.5em;
        -webkit-filter: grayscale(.15);
        filter: grayscale(.15);

        img {
          width: 100%;
          box-shadow: 0px 0px 6px $black;
        }
      }
    }
  }
}
