.details {
  // height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.06),rgba(0,0,0,.06)), url(../images/image4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding: 10em 0;

  .details-content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $black;
    border: 10px double $black;
    padding: 4em 5em;
    background-color: transparentize($white,0.08);

    h1 {
      font-size: 3.7em;
      margin: 0 auto 1em;
      position: relative;
      text-align: center;
    }

    .bracebridge-weather {
      position: absolute;
      left: .3em;
      top: .3em;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span:first-child {
        font-size: .87em;
        display: block;
      }

      .temp-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        span:first-child {
          font-size: .8em;
          margin-right: .3em;
        }

        img {
          width: 1.6em;
          position: relative;
          top: 0em;
        }
      }
    }

    .wedding-countdown-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 4.5em;
      // display: none;

      countdown-wrapper {
        border: 5px double $black;
        padding: 1.2em 2.3em;

        h2 {
          font-size: 1.15em;
          margin-bottom: .2em;
        }
      }

      h2 {
        text-align: center;
      }

      .countdown-cell-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 1em;

        .countdown-cell {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;

          .countdown-number {
            font-size: 1.1em;
          }

          .countdown-text {
            font-size: .8em;
          }
        }
      }
    }
  }

  .info-wrapper {
    display: flex;
    margin-bottom: 2em;

    .info-left, .info-right {
      width: 50%;

      h4 {
        font-size: 1.6em;
        margin-bottom: .3em;
        text-align: center;
      }

      h4:nth-child(3) {
        margin-top: 3em;
      }

      p {
        font-size: 1.13em;
        font-weight: 300;
        line-height: 1.4;
        text-align: center;
      }
    }

    .info-left {
      padding-right: 3.8em;

      a {
        font-size: .97em;
        text-align: center;
        width: 100%;
        display: inline-block;
        color: $black;
        padding: .1em 0;
        position: relative;
        top: 1em;
        margin-bottom: 3em;

        &:hover .car {
          position: relative;
          right: 1.5em;
        }

        &:hover .driving {
          color: $accent;
        }

        .car {
          font-size: 1.3em;
          position: relative;
          top: .11em;
          right: 1em;
          transition: all .4s;
        }

        .driving {
          text-decoration: underline;
          transition: color .09s linear;
        }
      }

      .dress-code {
        margin-top: 1.6em;
      }
    }

    .info-right {
      padding-left: 3.8em;

      .map-wrapper {
        -webkit-filter: grayscale(.15);
        filter: grayscale(.15);

        img {
          width: 100%;
          box-shadow: 0px 0px 6px $black;
        }
      }
    }
  }

  // media queries //
  @media (max-width: 840px) {
    .info-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .info-right {
        padding: 0 0 3.2em;
        width: 100%;
        text-align: center;
        order: 1;

        .map-wrapper {
          width: 40%;
          margin: 4em auto 0;
        }
      }

      .info-left {
        padding: 0;
        width: 100%;
        text-align: center;
        order: 2;
      }
    }
  }

  @media (max-width: 885px) {
    .details-content {
      h1 {
        font-size: 6.4vw;
      }
    }
  }

  @media (max-width: 800px) {
    .details-content {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  @media (max-width: 700px) {
    .details-content {
      h1 {
        font-size: 2.6em;
        text-align: center;
      }

      .bracebridge-weather {
        display: none;
      }

      .info-right {
        .map-wrapper {
          width: 60%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .details-content {
        padding-left: 1em;
        padding-right: 1em;

      .wedding-countdown-wrapper {
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 4.5em;

        countdown-wrapper {
          border: none;
          padding: 0;
        }

        h2 {
          font-size: 1.4em;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 426px) {
    .details-content{
      .info-wrapper {
        h4 {
          font-size: 1.2em;
        }

        p {
          font-size: 1em;
        }

        .dress-code {
          margin-top: 2.6em;
        }

        .nearby {
          margin: 2.9em 0 1.2em;
        }

        .info-right {
          padding: 0 0 4.7em;
        }

        .info-right {
          .map-wrapper {
            width: 80%;
          }
        }
      }
    }

    .hide-nearby {
      display: none;
    }
  }
}
