.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.06),rgba(0,0,0,.06)), url(../images/image4.jpg);
  background-size: cover;
  background-position: bottom;
  color: $white;

  .home-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      font-size: 7em;
      position: relative;
      margin-bottom: .2em;
      color: $white;
      text-transform: capitalize;
      text-shadow: 0px 1px 3px $black;

      + span {
        font-size: 2.7em;
        text-shadow: 0px 1px 1px $black;
      }
    }

    .wedding-date {
      font-size: 2.1em;
      text-shadow: 0px 1px 1px $black;
    }

    .location {
      font-size: 1.3em;
      margin-top: .3em;
      text-shadow: 0px 1px 1px $black;
    }

    .homeButtons {
      display: flex;
      justify-content: center;
      position: relative;
      top: 3.8em;

      .buttonToRSVP {
        display: none;
        font-size: .93em;
        letter-spacing: .5px;
        font-weight: 300;
        background-color: $accent;
        color: $white;
        border: 1px solid $accent;
        border-radius: .15em;
        padding: .6em 1.4em;
        margin-right: 1.3em;
        transition: all .16s linear;

        &:hover {
          color: $white;
          background-color: lighten($accent,3.1%);
          border: 1px solid lighten($accent,3.1%);
        }
      }

      .buttonToDetails {
        font-size: .93em;
        letter-spacing: .5px;
        font-weight: 300;
        background-color: $accent;
        color: $white;
        border: 1px solid $accent;
        border-radius: .15em;
        padding: .6em 1.4em;
        margin-left: 1.3em;
        transition: all .16s linear;

        &:hover {
          color: $white;
          background-color: lighten($accent,3.1%);
          border: 1px solid lighten($accent,3.1%);
        }
      }
    }
  }

  // media queries //
  @media (max-width: 1070px) {
    .home-content {
      h1 {
        font-size: 11.5vw;

        + span {
          font-size: 4.6vw;
        }
      }

      .wedding-date {
        font-size: 3.9vw;
      }
    }
  }

  @media (max-width: 700px) {
    .home-content {
      h1 {
      }

      .wedding-date {
        margin-top: 1px;
      }

      .homeButtons {
        .buttonToRSVP {
          font-size: .8em;
        }

        .buttonToDetails {
          font-size: .8em;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .home-content {
      h1 {
        font-size: 3.7em;
        text-align: center;

        + span {
          font-size: 1.85em;
          margin-bottom: -.2em;
        }
      }

      .line-break {
        display: block;
        margin-bottom: -.1em;
      }

      .wedding-date {
        font-size: 1.6em;
        margin-top: .4em;
      }

      .homeButtons {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buttonToRSVP {
          font-size: .9em;
          margin: 0;
        }

        .buttonToDetails {
          font-size: .9em;
          margin: 0;
          // position: relative;
          // top: 1.6em;
        }
      }
    }
  }
}
