.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.06),rgba(0,0,0,.06)), url(../images/image4.jpg);
  background-size: cover;
  background-position: bottom;
  color: $white;

  .home-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      font-size: 9em;
      position: relative;
      color: $white;
      text-transform: capitalize;
      text-shadow: 0px 1px 3px $black;
    }

    span {
      font-size: 2.5em;
      margin-top: -.45em;
      text-shadow: 0px 1px 1px $black;
    }

    .buttonToRSVP {
      font-weight: 300;
      background-color: $accent;
      color: $white;
      position: relative;
      top: 5em;
      border: 1px solid $accent;
      border-radius: .15em;
      padding: .65em 1.9em;
      transition: all .16s linear;

      &:hover {
        background-color: lighten($accent,3.1%);
        border: 1px solid lighten($accent,3.1%);
      }
    }
  }
}
