.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.47),rgba(0,0,0,.47)), url(../images/hand-hold.jpg);
  background-size: cover;
  background-position: center;
  color: $white;

  .home-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 8.8em;
      font-family: $rainbow;
    }

    span {
      font-size: 2.2em;
      font-weight: 300;
      margin-top: -1.3em;
    }

    .buttonToRSVP {
      font-weight: 300;
      letter-spacing: 1px;
      background-color: transparent;
      color: $white;
      position: relative;
      top: 3.8em;
      border: 1px solid $accent;
      border-radius: .15em;
      padding: .65em 1.9em;
      transition: all .23s linear;

      &:hover {
        background-color: $accent;
      }
    }
  }
}
