.rsvp {
  background-image: linear-gradient(rgba(0,0,0,.47),rgba(0,0,0,.47)), url(../images/rsvp-background.jpg);
  height: 100vh;
}

.rsvp-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rsvp-box {
  font-size: 1.3em;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  border: 2px solid $black;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparentize($white,0.1);
  padding: 2em;

  h1 {
    font-size: 2.3em;
    position: relative;

    &:after {
      position: absolute;
      bottom: .1rem;
      right: 50%;
      transform: translateX(50%);
      content: '';
      border-bottom: 7px solid $accent;
      height: 10px;
      width: 100%;
    }
  }
}

.question-box {
  // display: flex;
  width: 100%;
  padding: 1.5rem 1.5em;
  // flex-direction: column;

  label {
    &[for="fullName"] {
      display: block;
      margin-bottom: .4em;
    }

    &[for="attending"] {
      display: block;
    }

    &[for="numOfPeople"] {
      display: block;
      margin-top: 1.5em;
    }

    &[for="guestName"] {
      display: block;
      margin: 1.5em 0 .5em 0;
    }

    &[for="userDietary"] {
      display: block;
      margin: .6em 0 .5em 0;
    }

    &[for="guestDietary"] {
      display: block;
      margin: 1.5em 0 .5em 0;
    }

    &[for="dance"] {
      display: block;
      margin: .6em 0 .5em 0;
    }

    &[for="comments"] {
      display: block;
      margin: .6em 0 .5em 0;
    }
  }

  input {
    // font-size: .95em;
    outline: transparent;
    border: 1px solid lighten($black, 50%);
    padding: .32em .45em;
    transition: all .18s linear;

    &:focus {
      border: 1px solid $black;
    }

    &[type="text"] {
      width: 80%;
    }

    &#dance {
      width: 100%;
    }
  }

  textarea {
    width: 100%;
    outline: transparent;
    transition: all .18s linear;
    border: 1px solid lighten($black, 50%);
    padding: .32em .45em;

    &:focus {
      border: 1px solid $black;
    }
  }

  button[name="next"], button[name="submit"] {
    font-size: .9em;
    background-color: $accent;
    border: 1px solid transparent;
    color: $white;
    padding: .42em 1.15em;
    margin-left: 2em;
    outline: transparent;
    transition: all .17s linear;

    &:disabled {
      background-color: transparentize($accent,0.7);

      &:hover {
        background-color: transparentize($accent,0.7);
      }
    }

    &:hover {
      background-color: lighten($accent, 3.5%);
    }
  }

  button[name="back"] {
    font-size: .9em;
    background-color: $white;
    border: 2px solid $accent;
    color: $black;
    padding: .42em 1.15em;
    margin-right: 2em;
    outline: transparent;
    transition: all .17s linear;

    &:hover {
      background-color: darken($white, 5%);
    }
  }

  .buttonsWrapper {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.3em;
  }

  .soloButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.3em;
  }

  .soloButton {
    position: relative;
    right: 1em;

  }

  .radioButtons {
    display: block;
    margin-top: .35em;
  }
}
