.rsvp {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.47),rgba(0,0,0,.47)), url('../images/rsvp-background.jpg');
  background-size: cover;
}

.rsvp-content {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rsvp-box {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  display: flex;
  width: 60%;
  padding: 2em;
  border: 9px double $black;
  background-color: transparentize($white,0.1);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);

  h1 {
    font-size: 2.3em;
    position: relative;
    margin-bottom: .4em;

    // &:after {
    //   position: absolute;
    //   right: 50%;
    //   bottom: .3rem;
    //   transform: translateX(50%);
    //   content: '';
    //   border-bottom: 2px solid $accent;
    //   height: 10px;
    //   width: 100%;
    // }
  }
}

.question-box {
  // display: flex;
  width: 100%;
  padding: 1.5rem 1.5em;
  // flex-direction: column;

  label {
    @include playfair();

    &[for="fullName"] {
      display: block;
      margin-bottom: .4em;
    }

    &[for="attending"] {
      display: block;
    }

    &[for="numOfPeople"] {
      display: block;
      margin-top: 1.5em;
    }

    &[for="guestName"] {
      display: block;
      margin: 1.5em 0 .5em;
    }

    &[for="userDietary"] {
      display: block;
      margin: .6em 0 .5em;
    }

    &[for="guestDietary"] {
      display: block;
      margin: 1.5em 0 .5em;
    }

    &[for="dance"] {
      display: block;
      margin: .6em 0 .5em;
    }

    &[for="comments"] {
      display: block;
      margin: .6em 0 .5em;
    }
  }

  input {
    padding: .32em .45em;
    border: 1px solid lighten($black, 50%);
    transition: all .18s linear;
    outline: transparent;

    &:focus {
      border: 1px solid $black;
    }

    &[type="text"] {
      width: 80%;
    }

    &#dance {
      width: 100%;
    }
  }

  textarea {
    width: 100%;
    padding: .32em .45em;
    border: 1px solid lighten($black, 50%);
    outline: transparent;
    transition: all .18s linear;

    &:focus {
      border: 1px solid $black;
    }
  }

  button[name="next"], button[name="submit"] {
    font-size: .9em;
    padding: .42em 1.15em;
    border: 1px solid transparent;
    margin-left: 2em;
    background-color: $accent;
    color: $white;
    outline: transparent;
    transition: all .17s linear;

    &:disabled {
      background-color: transparentize($accent,0.7);

      &:hover {
        background-color: transparentize($accent,0.7);
      }
    }

    &:hover {
      background-color: lighten($accent, 3.5%);
    }
  }

  button[name="back"] {
    font-size: .9em;
    padding: .42em 1.15em;
    border: 2px solid $accent;
    margin-right: 2em;
    background-color: $white;
    color: $black;
    outline: transparent;
    transition: all .17s linear;

    &:hover {
      background-color: darken($white, 5%);
    }
  }

  .buttonsWrapper {
    display: block;
    display: flex;
    margin-top: 2.3em;
    align-items: center;
    justify-content: center;
  }

  .soloButtonWrapper {
    display: flex;
    width: 100%;
    margin-top: 2.3em;
    justify-content: center;
  }

  .soloButton {
    position: relative;
    right: 1em;

  }

  .radioButtons {
    display: block;
    margin-top: .35em;
  }

  .submit-message {
    margin: 1.2em 0;
    background-color: pink;
  }
}
