<div class="graph-wrapper">
  {{#each ratings as |rating|}}
    <div class="column-wrapper">
      <div class="bars-wrapper">
        <div style="{{rating.averageEqaoStyle}}" class="avg-score-bar"></div>
        <div style="{{rating.schoolEqaoStyle}}%;" class="school-score-bar"></div>
      </div>
      <span>{{rating.year}}</span>
    </div>
  {{/each}}
</div>
