<section class="couple">
  <div class="wrapper">
    <div class="couple-content fadeInFast">
      <h1>The Couple</h1>
      <div class="about-couple">
        <!-- <h4>About The Couple</h4> -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="gallery-wrapper">

        <div class="thumbnails">
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img6.src" name="img6" src="images/image6.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img7.src" name="img7" src="images/image7.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img1.src" name="img1" src="images/image1.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img2.src" name="img2" src="images/image2.jpg" alt="">
          </div>
          <!-- <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img3.src" name="img3" src="images/image3.jpg" alt="">
          </div> -->
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img4.src" name="img4" src="images/image4.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img5.src" name="img5" src="images/image5.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img8.src" name="img8" src="images/image8.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img9.src" name="img9" src="images/image9.jpg" alt="">
          </div>
          <div class="thumbnail-wrapper">
            <img onmouseover="preview.src=img10.src" name="img10" src="images/image10.jpg" alt="">
          </div>
        </div>

        <div class="gallery-preview">
          <div class="preview-wrapper">
            <img name="preview" src="images/image6.jpg" alt=""/>
          </div>
        </div>

      </div>


      <div class="questionnaire-wrapper">
        <div class="ali-on-bryan">
          <h4>Ali on Bryan</h4>
          <p>
            <span class="question">What’s one thing, apart from you that he’d save in a fire?</span>
            <span class="answer">His guitar.</span>
            <span class="question">Who would play him in a movie of his life?</span>
            <span class="answer">Mark Wahlberg.</span>
            <span class="question">Would you trust him to choose your wedding dress?</span>
            <span class="answer">Nope.</span>
            <span class="question">How old is his oldest pair of underwear?</span>
            <span class="answer">Probably as old as our relationship, so 6+ years ha!</span>
            <span class="question">What are his go-to pizza toppings?</span>
            <span class="answer">BBQ Chicken or Pepperoni.</span>
            <span class="question">Would he rather vacation in Hawaii or Alaska, and why?</span>
            <span class="answer">Hawaii : weather and the water.</span>
          </p>
        </div>
        <div class="bryan-on-ali">
          <h4>Bryan on Ali</h4>
          <p>
            <span class="question">If she could live anywhere in the world, where would it be?</span>
            <span class="answer">Trick question, she would prefer to live in space.</span>
            <span class="question">Would she rather live in the future or in the past?</span>
            <span class="answer">The future.</span>
            <span class="question">What animal best represents her and why?</span>
            <span class="answer">She’s a mix between a cheetah and a red panda.</span>
            <!-- <span class="question">Would she rather camp in an RV or stay in a tent?</span>
            <span class="answer">Lorem ipsum dolor sit amet</span> -->
            <span class="question">If she won the lottery, what would her first purchase be?</span>
            <span class="answer">After putting a responsible amount in savings, she would make some lucky shoe store very happy.</span>
            <!-- <span class="question">Would she rather swim in a pool or the ocean?</span>
            <span class="answer">Lorem ipsum dolor sit amet</span> -->
            <!-- <span class="question">Would she rather have the ability to fly or be invisible?</span>
            <span class="answer">Lorem ipsum dolor sit amet</span> -->
            <span class="question">Would she rather have the ability to speak every language in the world or play every instrument?</span>
            <span class="answer">Instruments.</span>
            <span class="question">If she could live in a book, tv show, or movie, what would it be?</span>
            <span class="answer">She would fit in well in Toon Land from Space Jam.</span>
            <!-- <span class="question">If she was stranded on a deserted island, what three items would she want with her?</span>
            <span class="answer">Lorem ipsum dolor sit amet</span> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{outlet}}
