.top-nav {
  position: fixed;
  width: 100%;
  padding: 1em 0;
  z-index: 10;
  background-color: $offwhite;
  border-bottom: 1px solid transparentize($black, 0.7);

  .nav-items {
    font-size: 1.08em;
    font-family: $libre;
    width: 41.2em;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      a {
        color: $black;
        padding: 1em 1.6em;
        white-space: nowrap;
        transition: all .3s ;
        background-color: #222;
      	-webkit-background-clip: text;
      	-moz-background-clip: text;
      	background-clip: text;
      	color: transparent;
      	text-shadow: rgba(255,255,255,0.45) 0px 3px 3px;

        &:hover {
          background-color: $accent;
        	-webkit-background-clip: text;
        	-moz-background-clip: text;
        	background-clip: text;
        	color: transparent;
        	text-shadow: rgba(255,255,255,0.45) 0px 3px 3px;
        }

        &:focus {
          outline: transparent;
        }
      }
    }
  }
}

// media queries //

// Greater than 790px //
@media (min-width: 791px) {
  .hamburger-icon, .x-icon {
    display: none;
  }
}


// 790px and smaller //
@media (max-width: 790px) {
  .top-nav {
    padding: .3em 0;
    // background-color: transparentize($offwhite,0.07);

    button {
      font-size: 1.5em;
      display: block;
      margin: 0 auto;
      outline: none;
      border: 1px solid transparent;
      background-color: transparent;
      transition: color .12s linear;

      &:hover {
        color: $accent;
      }
    }
    //
    // .x-icon {
    //   display: none;
    // }

    .nav-items {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.4em 0 1.4em;

      &.menu-hidden {
        display: none;
      }

      li {
        padding: .6em 0;

        a {
          padding: .6em 1em;
        }

      }
    }
  }

}
