.top-nav {
  position: fixed;
  width: 100%;
  padding: 1em 0;
  z-index: 10;
  background-color: $offwhite;

  .nav-items {
    font-size: 1.08em;
    font-family: $libre;
    width: 41.2em;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      // margin: 0 1.7em;

      a {
        color: $black;
        padding: 1em 1.6em;
        white-space: nowrap;
        transition: all .3s ;
        background-color: #222;
      	-webkit-background-clip: text;
      	-moz-background-clip: text;
      	background-clip: text;
      	color: transparent;
      	text-shadow: rgba(255,255,255,0.45) 0px 3px 3px;

        &:hover {
          background-color: $accent;
        	-webkit-background-clip: text;
        	-moz-background-clip: text;
        	background-clip: text;
        	color: transparent;
        	text-shadow: rgba(255,255,255,0.45) 0px 3px 3px;
        }

        &:focus {
          outline: transparent;
        }
      }
    }
  }
}

// /* Underline From Center */
// .hvr-underline-from-center {
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: perspective(1px) translateZ(0);
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px transparent;
//   position: relative;
//   overflow: hidden;
// }
// .hvr-underline-from-center:before {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   left: 51%;
//   right: 50%;
//   bottom: 0;
//   background: $accent;
//   height: 1px;
//   -webkit-transition-property: left, right;
//   transition-property: left, right;
//   -webkit-transition-duration: 0.29s;
//   transition-duration: 0.29s;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
// }
// .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
//   left: 0;
//   right: 0;
// }
// }
