.top-nav {
  position: fixed;
  width: 100%;
  background-color: $offwhite;
  padding: 1em 0;
  z-index: 10;

  div {
    background-image: url(../images/zag.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 25px;
  }

  .nav-items {
    font-size: 1.03em;
    @include playfair();
    width: 41.2em;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $offwhite;

    li {
      margin: 0 1.7em;

      a {
        color: $black;
        padding: .06em 0;
        white-space: nowrap;
      }
    }
  }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 50%;
  bottom: 0;
  background: $accent;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.29s;
  transition-duration: 0.29s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
}
