<section class="home">
  <div class="wrapper">
    <div class="home-content">
      <h1 class="fadeIn"><span class="line-break">Ali</span> <span class="line-break">&</span> Bryan</h1>
      <span class="fadeIn wedding-date">August 27, 2017</span>
      {{#link-to 'rsvp'}}
        <button class="buttonToRSVP fadeInSlow">RSVP NOW</button>
      {{/link-to}}
    </div>
  </div>
</section>

{{outlet}}
