<section class="home">
  <div class="wrapper">
    <div class="home-content">
      <h1>Bryan & Ali</h1>
      <span>August 27, 2017</span>
      {{#link-to 'rsvp'}}
        <button class="buttonToRSVP">RSVP NOW</button>
      {{/link-to}}
    </div>
  </div>
</section>

{{outlet}}
