<section class="accommodations">
  <div class="wrapper">
    <div class="accommodations-content fadeInFast">
      <h1>Accommodations</h1>

        <div class="hotels-wrapper">
          <div class="taboo-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.taboomuskoka.com/" target="_blank"><img class="taboo-image" src="images/taboo.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/CzQiWMwvfnJ2" target="_blank">Directions from Camp Tamarack</a>
          </div>

          <div class="marriott-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.marriott.com/hotels/travel/yqari-residence-inn-gravenhurst-muskoka-wharf/" target="_blank"><img src="images/marriott.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/SMnoEKMYUEN2" target="_blank">Directions from Camp Tamarack</a>
          </div>

          <div class="touchstone-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.touchstoneresort.com/" target="_blank"><img src="images/touchstone.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/yffaxwGdxbG2" target="_blank">Directions from Camp Tamarack</a>
          </div>
      </div>

      <div class="accommodations-image">
        <img src="http://localhost:4200/images/image10.jpg" alt="">
      </div>

    </div>
  </div>
</section>
