<section class="accommodations">
  <div class="wrapper">
    <div class="accommodations-content fadeInFast">
      <h1>Accommodations</h1>

        <div class="hotels-wrapper">
          <div class="taboo-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.taboomuskoka.com/" target="_blank"><img class="taboo-image" src="images/taboo.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/CzQiWMwvfnJ2" target="_blank">Directions To Camp</a>
            <span class="rates">For best rates, book online.</span>
          </div>

          <div class="marriott-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.marriott.com/hotels/travel/yqari-residence-inn-gravenhurst-muskoka-wharf/" target="_blank"><img src="images/marriott.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/SMnoEKMYUEN2" target="_blank">Directions To Camp</a>
            <span class="rates">For best rates, book online.</span>
          </div>

          <div class="deerhurst-wrapper hotel-item">
            <a class="hotel-link"  href="https://deerhurstresort.com/" target="_blank"><img src="images/deerhurst.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/FwUh6o5Wawk" target="_blank">Directions To Camp</a>
            <span class="rates">For best rates, call and ask for the Grundman-Weinberg rate.</span>
          </div>
      </div>
      <span>Additionally, beds will be available for any guests who wish to sleep at camp on Sunday night only.</span>

      <div class="accommodations-image">
        <img src="images/image8.jpg" alt="">
      </div>

    </div>
  </div>
</section>
