footer {
  font-size: .88em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  padding-left: .6em;
  padding-bottom: .2em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  // display: none;


  .footer-content {
    color: $white;
    text-shadow: 1px 1px 5px $black;
    font-weight: 900;

    a {
      color: $white;
      text-shadow: 1px 1px 5px $black;
      transition: .12s linear;
      text-decoration: underline;

      &:hover {
        color: $accent;
      }
    }
  }

  img {
    width: 9em;
    display: none;
  }

  // media queries //
  @media (max-width: 700px) {
    font-size: .75em;
    justify-content: center;
  }
}
