footer {
  font-size: .74em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  padding-left: .6em;
  padding-bottom: .2em;
  width: 100%;
  display: flex;
  align-items: flex-end;


  .footer-content {
    color: $white;
    text-shadow: 1px 1px 5px $black;
    font-weight: 900;

    a {
      color: $white;
      text-shadow: 1px 1px 5px $black;
      transition: .12s linear;
      text-decoration: underline;

      &:hover {
        color: $accent;
      }
    }
  }

  a[href='/admin'] {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
    border: 1px solid rgba(255,255,255,0.5);
  }

  img {
    width: 9em;
    display: none;
  }

  // media queries //
  @media (max-width: 700px) {
    font-size: .75em;
    justify-content: center;
  }
}
