footer {
  font-size: 1em;
  text-transform: uppercase;
  position: absolute;;
  bottom: .5em;
  left: 1em;
  width: 100%;
  display: flex;
  align-items: flex-end;


  .footer-content {
    color: $white;
    text-shadow: 1px 1px 5px $black;
    font-weight: 900;

    a {
      color: $white;
      text-shadow: 1px 1px 5px $black;
      transition: .12s linear;
      text-decoration: underline;

      &:hover {
        color: $accent;
      }
    }
  }

  img {
    width: 9em;
    display: none;
  }

  // media queries //
  @media (max-width: 700px) {  
    justify-content: center;

  }
}
