<section class="details">
  <div class="wrapper">
    <div class="details-content fadeInFast">
      <h1>Wedding Details</h1>
      <div class="wedding-countdown-wrapper">
        {{countdown-timer}}
      </div>

      <div class="info-wrapper">
        <div class="info-left">
          <!-- When -->
          <h4>When:</h4>
          <p>The ceremony will begin at 5:30 PM, on August 27, 2017.</p>

          <!-- Where -->
          <h4>Where:</h4>
          <p>Camp Tamarack<br />1391 Stoneleigh Rd, Bracebridge, ON</p>
          <a href="https://goo.gl/maps/WibqyCBDkCx" target="_blank"><span class="car">🚙</span><span class="driving">Get Driving Directions</span></a>

          <!-- Dress code -->
            <h4 class="dress-code">Dress Code:</h4>
            <p>Yes</p>



        </div>
        <div class="info-right">
          <div class="map-wrapper">
            <img src="images/camp-tamarack-map-cartoon.jpg" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
