<h1>Wedding Details</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22528.045038062814!2d-79.24406173008492!3d45.105953900000024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x887a51b978d691ed!2sCamp+Tamarack!5e0!3m2!1sen!2sca!4v1482444672377" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
{{outlet}}
