<section class="details">
  <div class="wrapper">
    <div class="details-content">
      <h1>Wedding Details</h1>

      <div class="info-wrapper">
        <div class="info-left">
          <!-- When -->
          <h4>When:</h4>
          <p>The ceremony will begin at 5:00pm, on August 27, 2017.</p>

          <!-- Nearby Accommodations -->
          <h4 class="nearby">Nearby Accommodations</h4>
          <a href="http://www.marriott.com/hotels/travel/yqari-residence-inn-gravenhurst-muskoka-wharf/" target="_blank">Residence Inn Gravenhurst Muskoka Wharf</a>
          <a href="https://goo.gl/maps/SMnoEKMYUEN2" target="_blank">Directions from Camp Tamarack</a>
          <a href="http://www.taboomuskoka.com/" target="_blank">Taboo Muskoka</a>
          <a href="https://goo.gl/maps/CzQiWMwvfnJ2" target="_blank">Directions from Camp Tamarack</a>
          <a href="http://www.touchstoneresort.com/" target="_blank">Touchstone Resort on Lake Muskoka</a>
          <a href="https://goo.gl/maps/yffaxwGdxbG2" target="_blank">Directions from Camp Tamarack</a>
        </div>
        <div class="info-right">
          <!-- Where -->
          <h4>Where:</h4>
          <p>Camp Tamarack<br />1391 Stoneleigh Rd, Bracebridge, ON P1L 1W9</p>
          <a href="https://goo.gl/maps/WibqyCBDkCx" target="_blank">Get Driving Directions</a>

          <div class="map-wrapper">
            <img src="images/camp-tamarack-map-cartoon.jpg" alt="">
          </div>

        </div>
      </div>





    </div>
  </div>
</section>

{{outlet}}
