<section class="details">
  <div class="wrapper">
    <div class="details-content">
      <h1>Wedding Details</h1>

      <div class="wedding-countdown-wrapper">
        {{countdown-timer}}
      </div>

      <div class="info-wrapper">
        <div class="info-left">
          <!-- When -->
          <h4>When:</h4>
          <p>The ceremony will begin at 5:00pm, on August 27, 2017.</p>

          <!-- Dress code -->
            <h4 class="dress-code">Dress Code:</h4>
            <p>Semiformal</p>

          <!-- Nearby Accommodations -->
          <h4 class="nearby">Nearby Accommodations:</h4>

        <div class="hotels-wrapper">
          <div class="marriott-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.marriott.com/hotels/travel/yqari-residence-inn-gravenhurst-muskoka-wharf/" target="_blank"><img src="images/marriott.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/SMnoEKMYUEN2" target="_blank">Directions from Camp Tamarack</a>
          </div>

          <div class="taboo-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.taboomuskoka.com/" target="_blank"><img src="images/taboo.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/CzQiWMwvfnJ2" target="_blank">Directions from Camp Tamarack</a>
          </div>


          <div class="touchstone-wrapper hotel-item">
            <a class="hotel-link"  href="http://www.touchstoneresort.com/" target="_blank"><img src="images/touchstone.png" alt=""></a>
            <a class="hotel-directions" href="https://goo.gl/maps/yffaxwGdxbG2" target="_blank">Directions from Camp Tamarack</a>
          </div>
        </div>

        </div>
        <div class="info-right">
          <!-- Where -->
          <h4>Where:</h4>
          <p>Camp Tamarack<br />1391 Stoneleigh Rd, Bracebridge, ON P1L 1W9</p>
          <a href="https://goo.gl/maps/WibqyCBDkCx" target="_blank">Get Driving Directions<span>🚙</span></a>

          <div class="map-wrapper">
            <img src="images/camp-tamarack-map-cartoon.jpg" alt="">
          </div>

        </div>
      </div>





    </div>
  </div>
</section>

{{outlet}}
