<h1>Wedding Details</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22528.045038062814!2d-79.24406173008492!3d45.105953900000024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x887a51b978d691ed!2sCamp+Tamarack!5e0!3m2!1sen!2sca!4v1482444672377" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

<h3>Nearby Accommodations</h3>
<a href="http://www.marriott.com/hotels/travel/yqari-residence-inn-gravenhurst-muskoka-wharf/" target="_blank">Residence Inn Gravenhurst Muskoka Wharf</a>
<a href="https://goo.gl/maps/SMnoEKMYUEN2" target="_blank">Map from Camp Tamarack</a>
<a href="http://www.taboomuskoka.com/" target="_blank">Taboo Muskoka</a>
<a href="https://goo.gl/maps/CzQiWMwvfnJ2" target="_blank">Map from Camp Tamarack</a>
<a href="http://www.touchstoneresort.com/" target="_blank">Touchstone Resort on Lake Muskoka</a>
<a href="https://goo.gl/maps/yffaxwGdxbG2" target="_blank">Map from Camp Tamarack</a>
{{outlet}}
